
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.serving-number{
  width: 10%;
}

.thumbnail{
  height: 200px;
  width: 200px;
}

.ingred-amount{
  width: 10%;
  margin-right: 15px;
}

.ingred-units{
  width: 15%;
  margin-right: 15px;
}

.ingred-name{
  width: 50%;
}

.flexbox{
  display: flex;

}
