
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.serving-number{
  width: 6%;
}

.thumbnail{
  height: 200px;
  width: 200px;
}

.ingred-amount{
  width: 10%;
  margin-right: 15px;
}

.ingred-units{
  width: 15%;
  margin-right: 15px;
}

.ingred-name{
  width: 50%;
}

.flexbox{
  display: flex;

}

.ingred-form{
  margin-bottom: 20px;
}

.new-recipe-btn{
  float: right;
}

.new-name{
  margin-bottom: 20px;
  height: 50px;
  font-size: 18px;
  margin-right: 10px;
  width: 95%;
}

.new-serve-size{
  height: 50px;
  font-size: 18px;
  margin-right: 10px;
  width: 95%;
}

.detail-img{
  height: 200px;
  width: 400px;
}

.serving-size{
  padding-left: 20px;
}

.thumbnail > .list-img{
  height: 50%;
  width: 90%;
}
